.red {
    color: #f00;
}

.orange {
    color: #f80;
}

.yellow {
    color: #ff0;
}

.green {
    color: #0f0;
}

.blue {
    color: #00f;
}

.purple {
    color: #80f;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

@keyframes rainbow {
    0% { color: hsl(0 100 50); }
    12.5% { color: hsl(45 100 50); }
    25% { color: hsl(90 100 50); }
    37.5% { color: hsl(135 100 50); }
    50% { color: hsl(180 100 50); }
    62.5% { color: hsl(225 100 50); }
    75% { color: hsl(270 100 50); }
    87.5% { color: hsl(315 100 50); }
    100% { color: hsl(360 100 50); }
}

.rainbow {
    animation-name: rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.centered {
    text-align: center;
}

.mono {
    font-family: mono;
}
