.red {
    color: #f00;
}

.orange {
    color: #f80;
}

.yellow {
    color: #ff0;
}

.green {
    color: #0f0;
}

.blue {
    color: #00f;
}

.purple {
    color: #80f;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.centered {
    text-align: center;
}
